//- search.pug  
extends layout  
  
block content  
  //- h1 #{title}  
  form(action="/search" method="GET")  
    input(type="text" name="query" placeholder="Search by title..." value=(query || ''))  
    button(type="submit") Search  
  
  if error  
    p.error= error  
  
  if posts && posts.length  
    ul  
      each post in posts  
        li  
          h2: a(href=`/post/${post.id}`) #{post.title}  
          p= post.content.substring(0, 100) + '...'
  else if !error  
    p No posts found.  