extends layout

block content
  p Average: #{average_length.toFixed(2)} characters
  p Median: #{median_length.toFixed(2)} characters
  p Maximum: #{max_length.toFixed(2)} characters
  p Minimum: #{min_length.toFixed(2)} characters
  br
  p Total length of all posts: #{total_length.toFixed(2)} characters

